<mat-card>
  <form [formGroup]="this.myFormGroup" (ngSubmit)="submit()">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>First name</mat-label>
        <input formControlName="firstName" matInput required>
        <mat-error *ngIf="this.firstName.errors" class="invalid-feedback">
          <mat-error class="error-message" *ngIf="this.firstName.errors.required">Firstname is requierd</mat-error>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Last name</mat-label>
        <input formControlName="lastName" matInput required>
        <mat-error *ngIf="this.lastName.errors" class="invalid-feedback">
          <mat-error class="error-message" *ngIf="this.lastName.errors.required">Lstname is requierd</mat-error>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Phone number</mat-label>
        <input formControlName="phone"  matInput required>
        <mat-error *ngIf="this.phone.errors" class="invalid-feedback">
          <mat-error class="error-message" *ngIf="this.phone.errors.required">Phone number is requierd</mat-error>
          <mat-error class="error-message" *ngIf="this.phone.errors.pattern">Invalid phone number</mat-error>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input formControlName="email" matInput  required>
        <mat-error *ngIf="this.email.errors" class="invalid-feedback">
          <mat-error class="error-message" *ngIf="this.email.errors.required">Phone number is requierd</mat-error>
          <mat-error class="error-message" *ngIf="this.email.errors.pattern">Invalid email</mat-error>
        </mat-error>

      </mat-form-field>
    </div>
    <button mat-raised-button type="submit">Submit</button>

  </form>

</mat-card>

